@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
    background-color: black;
    font-family: 'Concert One', cursive;
    color: white;
    text-align: center;
    margin-bottom: 35px;
}

#title{
    font-size: 76px;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 5px;
}

#rectangle {
    width: 100%;
    height: 90px;
    box-shadow: 14px 14px 7px rgb(92, 5, 5);
    margin-top: 32px;
   
}

#rectangle:hover {
    background-color: white;
    color: black;
    box-shadow: 14px 14px 7px rgb(163, 1, 1);
}

#footer{
    margin-top: 100px;
    bottom: 0;
    position: relative;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #520404;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#name {
    text-align: left !important;
    text-transform: uppercase;
    margin: 70px 0px 0px 25px;
    color: #b8a4a4
}

#remind{
    margin-top: -33px;
    color: #0c3f02
}

#time {
    float: right;
    margin: -43px 40px 0px 0px;
    color: #1d12b4
}